In [20]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
df = pd.read_csv("data/dataset.csv")

In [24]:
df.head()

,title,rating,score,vote,type,director,writter,duration,release date,release country,...,writter filmographie,director filmographie,budget,Opening weekend USA,gross,Cumulate Worldwide Gross,runtime,sound Mix,Color,Aspect Ratio
0,Hababam Sinifi,9.3,xxx,38.074,Comedy; Drama,Ertem Egilmez,Umur Bugay,1h 27min,April 1975,Turkey,...,"['S�nnet Davasi', 'Halk d�smani', 'Bizimkiler'...","['Arabesk', 'Asik Oldum', 'Namuslu', 'Hababam ...",xxx,xxx,xxx,xxx,87 min,xxx,xxx,xxx
1,Les �vad�s,9.3,80,2.386.840,Drama,Frank Darabont,Stephen King,2h 22min,1 March 199,(France,...,"['Cujo: Canine Unit Joint Operations', 'Doorwa...","['The Walking Dead', 'Godzilla', 'Mob City', '...",xxx,xxx,$28.34M,xxx,142 min,Dolby Digital,Color,1.85 : 1
2,Le parrain,9.2,100,1.654.244,Crime; Drama,Francis Ford Coppola,Mario Puzo,2h 55min,18 October,972 (France,...,"['Superman II', 'Le parrain', 'The Last Don II...","['Megalopolis', 'The Bling Ring', 'Sur la rout...",xxx,xxx,xxx,xxx,175 min,DTS\r\n(re-release)| Mono,Color\r\n(Technicolor),1.85 : 1
3,Aloko Udapadi,9.1,xxx,6.662,Drama; History,Chathra Weeraman,Saman Weeraman,1h 53min,20 January,017 (Sri Lanka,...,"['Akarsha', 'Ayu', 'Aloko Udapadi', 'Sri Siddh...","['Akarsha', 'Nobody Knows', 'Suparna', 'Father...",xxx,xxx,xxx,xxx,113 min,xxx,xxx,xxx
4,Aynabaji,9.1,xxx,23.648,Crime; Mystery;,Amitabh Reza Chowdhury,Syed Gaosul Alam Shaon,2h 27min,17 November,2016 (France,...,['Aynabaji Original Series'],"['Rickshaw Girl', 'Dhaka Metro', 'Aynabaji Ori...",xxx,xxx,xxx,xxx,147 min,xxx,xxx,xxx