In [24]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
df = pd.read_csv("data/dataset.csv")

In [26]:
df.head(5)

,title,rating,score,vote,type,director,writter,duration,release date,release country,...,reviews,storyline,budget,Opening weekend USA,gross,Cumulate Worldwide Gross,runtime,sound Mix,Color,Aspect Ratio
0,Hababam Sinifi,9.3,xxx,38.119,Comedy; Drama,Ertem Egilmez,Umur Bugay,1h 27min,April 1975 (Turkey),Turkey,...,64,"Lazy, uneducated students share a very close b...",xxx,xxx,xxx,NaN,87 min,xxx,xxx,xxx
1,Les Évadés,9.3,80,2.389.579,Drama,Frank Darabont,Stephen King,2h 22min,1 March 1995 (France),(France,...,9056,Chronicles the experiences of a formerly succe...,$25.000.000,727.327,28.699.976,28.817.291,142 min,Dolby Digital,Color,1.85 : 1
2,Aynabaji,9.2,xxx,23.700,Crime; Mystery;,Amitabh Reza Chowdhury,Syed Gaosul Alam Shaon,2h 27min,17 November 2016 (France),2016 (France,...,173,Ayna is an actor and the prison is his stage. ...,BDT35.000.000,xxx,xxx,NaN,147 min,xxx,xxx,xxx
3,Le parrain,9.2,100,1.655.784,Crime; Drama,Francis Ford Coppola,Mario Puzo,2h 55min,18 October 1972 (France),972 (France,...,4397,"The Godfather ""Don"" Vito Corleone is the head ...",$6.000.000,302.393,134.966.411,246.120.986,175 min,DTS\r\n(re-release)| Mono,Color\r\n(Technicolor),1.85 : 1
4,Soorarai Pottru,9.1,xxx,63.449,Drama,Sudha Kongara,Sudha Kongara,2h 33min,11 November 2020 (France),2020 (France,...,1673,"Inspired by the book 'Simply Fly', the film te...",INR150.000.000,xxx,xxx,NaN,153 min,xxx,xxx,xxx

In [27]:
len(df)

9